{{>header}}
<div class="row">
   <div class="column column-50 column-offset-25 text-center">
      <div class="margin-50">
         <a href="/auth/twitter"><img src="https://g.twimg.com/dev/sites/default/files/images_documentation/sign-in-with-twitter-gray.png"></a>

      </div>
   </div>
</div>
<form method="post" action="/auth/login">
   <div class="row ">
      <div class="card column column-50 column-offset-25">
         <h2>Login</h2>
         <label for="name">Email</label>
         <input type="text" name="email">
         <label for="pwd">Password</label>
         <input type="password" name="password">
         <button class="button" type="submit">Login</button>

      </div>
   </div>
</form>
<div class="row">
   <div class="column column-50 column-offset-25">
      <a href="/auth/signup">New user</a>
   </div>
</div>
{{>footer}}
