{{>header}}
<div class="row">

</div>
<form method="post" action="/auth/signup">
   <div class="row ">
      <div class="card column column-50 column-offset-25">
         <h2>Signup - New User</h2>
         <label for="name">Email</label>
         <input type="text" name="email">
         <label for="name">User name</label>
         <input type="text" name="name">
         <label for="name">Profile description</label>
         <input type="text" name="profileText">
         <label for="pwd">Password</label>
         <input type="password" name="password">
         <button class="button" type="submit">Signup</button>

      </div>
   </div>
</form>
{{>footer}}
