{{#alerts.error}}
<div class="row"><div class="column text-center">
   {{alerts.error}}
</div></div>
{{/alerts.error}}
{{#alerts.success}}
<div class="row"><div class="column text-center">
   {{alerts.success}}
</div></div>
{{/alerts.success}}
