{{>header}}
<div class="row">
   <header class="parallax text-center">
      <h1>FeederEatr</h1>
      <p>
         Definitive platform for keeping up with the latest news feeds.
      </p>
   </header>
</div>
<div class="row">
   <div class="column text-center">

   </div>
</div>

{{>footer}}
