{{>header}}
<div class="row">
   <header class="text-center">
      <h1>FeederEatr</h1>
      <p>
         Definitive platform for keeping up with the latest news feeds.
      </p>
   </header>
</div>
<div class="row">
   <div class="column text-center home-content">
      <h2>What is RSS?</h2>
   </div>
</div>
<div class="row">
   <div class="container">
      <p>
         RSS is a type of web-based data which allows users to access updates to online content in a standardized, computer-readable format.
         These feeds can, for example, allow a user to keep track of many different websites in a single news aggregator.
      </p>

      <p>
         The news aggregator, such as FeederEatr, will automatically check the RSS feed for new content, allowing the content to be automatically passed from website to website or from website to user.
         This passing of content is called web syndication. Websites usually use RSS feeds to publish frequently updated information, such as blog entries, news headlines, audio, video.
         An RSS document (called "feed" or "channel") usually includes a summarized text of the full article of information.

      </p>
      <br><br>
   </div>
</div>

{{>footer}}
