body {
   /*font-family: sans-serif;*/
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px; /* 5px rounded corners */
    border: 0.5px solid rgba(0,0,0,0.1);
}

.margin-50 {
   margin: 50px;
}

.text-center {
   text-align: center;
}
